{% extends '_templates/base.njk' %}

{% block page_title %}
  Capt. McGillicutty's Ship's Log
{% endblock %}

{% block page_description %}
  A collection of diary entries from Capt. McGillicutty's Ship's Log
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>A pirate's life is for me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam minus nemo perferendis saepe aspernatur? Adipisci omnis quis sed perferendis inventore qui incidunt. Porro adipisci sunt officiis pariatur rem tenetur?</p>
        <h2>Ship's Blog</h2>
        <p>Diary entries:</p>
        <hr>
        {% for blog in blog.blogs %}
          <h3><a href="blog/{{ blog.slug }}.html" target="_blank">{{ blog.headline }}</a></h3>
          <p>{{ blog.date}}</p>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}